body {
  font-family: Arial, sans-serif;
  color: rgb(175, 175, 175);
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 15px;
  width: 95%;
  margin: 0;
}

p {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
}

.todo-container {
  background-color: #fff;
  max-width: 400px;
  margin: 40px;
  border: 1px solid #ccc;
  box-shadow: 4px 4px #ccc;
}

.input-container {
  width: 100%;
  margin-bottom: 15px;
}

.input-container input {
  border: none;
  margin-left: 15px;
  padding-right: 15px;
  width: 70%;
  color: rgb(175, 175, 175);
  font-size: 18px;
}

/* .input-container input:active {
  border: none;
} */

#task-input:focus {
  border: none;
}

.input-container input::placeholder {
  font-style: italic;
  color: rgb(175, 175, 175);
}

.input-container button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  margin-right: 15px;
  font-size: 20px;
  color: rgb(146, 146, 146);
}

.task-row {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #929292;
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
}

.task-row input[type="checkbox"] {
  margin-right: 10px;
  left: 0;
  width: 16px;
  float: left;
  font-size: 18px;
}

.task-text {
  width: 290px;
  margin-right: 44px;
}

.task-row .more-icon {
  float: right;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(146, 146, 146);
}

.task-row .more-icon::before {
  content: "⋮";
}

.task-row .delete-icon {
  cursor: pointer;
  display: none;
}

.completed-task {
  text-decoration: line-through;
}

#erase-all {
  border: none;
  background-color: #f1f1f1;
  color: #aaa999;
  font-style: italic;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 20px;
  width: 100%;
}
